.button-container {
  margin: 0 auto;
  text-align: center;
  padding: 26px 24px 5px 24px;
  text-align: center;
  color: $rixxoWhite;
  text-decoration: none;

  @include atMobile  {
    padding: 26px 0 20px 0;
  }

  .button--alt {
    margin: 0px auto 20px auto;
    display: block;
    padding: 17px 0;
    background: #33cc99;
    font-family: 'Poppins', sans-serif;
    border: 0;
    text-decoration: none;
    @include rixxoButton($rixxoGreen, $rixxoDarkGreen, $rixxoLightGreen );

  }

  .button--white {
    margin: 0px auto 20px auto;
    display: block;
    padding: 17px 0;
    font-family: 'Poppins', sans-serif;
    @include rixxoButton($rixxoWhite, $rixxoWhite, $rixxoWhite );
    width: 250px;
    border: 0;
    color: #3399cc;
    transition: color .4s;
    text-decoration: none;
    &:hover, &:active, &:focus {
      color: #6ED0FA;
    }

    @include atTablet  {
      width: 220px;
    }

    @include atMobile  {
      width: auto;
    }
  }
}