.column-container {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row;
  flex-flow: row;
  .column-left {
    -webkit-flex:1;
    flex:1;
    -webkit-align-self: center;
    align-self: center;
    vertical-align: top;
    width: 50%;

  }

  .column-right {
    -webkit-flex:1;
    flex:1;
    -webkit-align-self: center;
    align-self: center;
    width: 49%;
  }

  .column-wrapper {
    &--left{
    }

    &--right {
      margin: 14% 25% 0 0;
      padding: 0 0 3% 15%;
      border-left: solid 2px white;
    }
  }

  @include atTablet {
    .column-wrapper {
      &--right {
        margin: 14% 15% 0 0;
        padding: 0 0 3% 10%;
      }
    }
  }

  @include atMobile  {
    display:block;

    .column-left{
      display: block;
      margin: 0 auto;
      width: 85%;
      border-right: none;
      border: none;
      border-bottom: solid 1px white;
      margin: 0 auto;
    }
    .column-right {
      display: block;
      margin: 0 auto;
      width: 85%;
    }
    .column-wrapper {
      &--left{
        padding: 7% 0 0 0;
      }

      &--right {
        padding: 7% 0 0% 0;
        margin: 0 auto;
        border-left: none;
        border-bottom: solid 1px white;
      }
    }
  }
}