.forgot-return {
    margin: 20px 0 30px 0;
    a {
      font-size: 15px;
      font-weight: 100;
      text-decoration: none;
      color: $rixxoWhite;
    }

    @include atMobile  {
      padding: 0px 0 10px 0;
    }
  }

.sliding-u-l-r {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid transparent;
  width: 0px;
  transition: 0.5s ease;
  white-space: nowrap;
  height: 25px;
}
.sliding-u-l-r:hover {
  border-bottom: 1px solid white;
  width: 100%;
}
