.logo-header {
  padding: 0;
  width: 100%;

  h1 {
    background-color: white;
    text-align: left;
    height: 80px;

    a {
      width: 260px;
      height: 100%;
      text-decoration: none;
      margin: 15px 0 0 150px;
      background-image: url('images/rixxo-logo-green.svg');
      background-size: cover;
      display: inline-block;

      @include atMobile  {
        height: 100%;
        width: 260px;
        margin: 15px 0 0 30px;
      }
    }
  }
}