form {
  background:none;
  box-shadow: none;
  margin: 0 auto;
  text-align: center;
  padding: 6px 24px 0 24px;
  display: block;

  @include atMobile  {
    padding: 6px 0 20px 0;
  }

  label {
    display: none;
  }

  .input-box {
    float: none;
    display:block;
    text-align: center;

    .input, input[type=text], input[type=password] {
      width:100%;
      font-size: 17px;
      padding:17px;
      margin:-3px auto -3px auto;
      border-radius: 3px;
      box-sizing: border-box;
      border:none;
    }
  }

  .rixxo-button{
    margin: 45px auto 10px auto;
    height: 50px;
    text-decoration: none;
    font: normal 17px 'Poppins', sans-serif;
    border:none;
    @include rixxoButton($rixxoGreen, $rixxoDarkGreen, $rixxoLightGreen );
  }
}

.login-form {
  padding:0;
  background: none;
}