.rixxo-footer {
  color: $rixxoWhite;
  font-size: 15px;
  font-weight: 100;
  margin: 30px 0 20px 15%;
  text-align: left;

  @include atMobile  {
    width: 50%;
    margin: 0;
    margin: 10px 0 50px 0;
    padding: 30px 24px 0 8%;
  }
}