html, body {
  font-family: 'PR Serif', sans-serif;
  color: white; }
  html #fontDesc, body #fontDesc {
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden; }
  html #page-login, body #page-login {
    background-image: url("images/rixxo-login-snow-wave.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; }
    @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
      html #page-login, body #page-login {
        background: none; } }
  @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
    html, body {
      background: none;
      background-color: #3399cc; } }
  html .login-container, body .login-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background: none;
    padding: 0; }

.underline {
  position: relative; }

.underline:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0;
  background-color: #ffffff;
  transition: width 0.4s ease-out; }

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%; }

.logo-header {
  padding: 0;
  width: 100%; }
  .logo-header h1 {
    background-color: white;
    text-align: left;
    height: 80px; }
    .logo-header h1 a {
      width: 260px;
      height: 100%;
      text-decoration: none;
      margin: 15px 0 0 150px;
      background-image: url("images/rixxo-logo-green.svg");
      background-size: cover;
      display: inline-block; }
      @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
        .logo-header h1 a {
          height: 100%;
          width: 260px;
          margin: 15px 0 0 30px; } }

.column-container {
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: row;
  flex-flow: row; }
  .column-container .column-left {
    -webkit-flex: 1;
    flex: 1;
    -webkit-align-self: center;
    align-self: center;
    vertical-align: top;
    width: 50%; }
  .column-container .column-right {
    -webkit-flex: 1;
    flex: 1;
    -webkit-align-self: center;
    align-self: center;
    width: 49%; }
  .column-container .column-wrapper--right {
    margin: 14% 25% 0 0;
    padding: 0 0 3% 15%;
    border-left: solid 2px white; }
  @media only screen and (min-width: 640px) and (max-width: 979px) and (orientation: portrait) {
    .column-container .column-wrapper--right {
      margin: 14% 15% 0 0;
      padding: 0 0 3% 10%; } }
  @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
    .column-container {
      display: block; }
      .column-container .column-left {
        display: block;
        margin: 0 auto;
        width: 85%;
        border-right: none;
        border: none;
        border-bottom: solid 1px white;
        margin: 0 auto; }
      .column-container .column-right {
        display: block;
        margin: 0 auto;
        width: 85%; }
      .column-container .column-wrapper--left {
        padding: 7% 0 0 0; }
      .column-container .column-wrapper--right {
        padding: 7% 0 0% 0;
        margin: 0 auto;
        border-left: none;
        border-bottom: solid 1px white; } }

form {
  background: none;
  box-shadow: none;
  margin: 0 auto;
  text-align: center;
  padding: 6px 24px 0 24px;
  display: block; }
  @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
    form {
      padding: 6px 0 20px 0; } }
  form label {
    display: none; }
  form .input-box {
    float: none;
    display: block;
    text-align: center; }
    form .input-box .input, form .input-box input[type=text], form .input-box input[type=password] {
      width: 100%;
      font-size: 17px;
      padding: 17px;
      margin: -3px auto -3px auto;
      border-radius: 3px;
      box-sizing: border-box;
      border: none; }
  form .rixxo-button {
    margin: 45px auto 10px auto;
    height: 50px;
    text-decoration: none;
    font: normal 17px 'Poppins', sans-serif;
    border: none;
    width: 100%;
    font-size: 17px;
    border-radius: 28px;
    background: #33cc99;
    border-color: #33cc99;
    box-shadow: none;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-appearance: none;
    transition: background 0.2s;
    cursor: pointer; }
    form .rixxo-button:hover {
      background: #29a37a;
      border-color: #29a37a;
      box-shadow: none;
      text-shadow: none; }
    form .rixxo-button:active {
      background: #5cd6ad;
      border-color: #5cd6ad;
      box-shadow: none;
      text-shadow: none; }
    form .rixxo-button:focus {
      background: #29a37a;
      border-color: #29a37a;
      box-shadow: none;
      text-shadow: none; }

.login-form {
  padding: 0;
  background: none; }

.button-container {
  margin: 0 auto;
  text-align: center;
  padding: 26px 24px 5px 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: none; }
  @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
    .button-container {
      padding: 26px 0 20px 0; } }
  .button-container .button--alt {
    margin: 0px auto 20px auto;
    display: block;
    padding: 17px 0;
    background: #33cc99;
    font-family: 'Poppins', sans-serif;
    border: 0;
    text-decoration: none;
    width: 100%;
    font-size: 17px;
    border-radius: 28px;
    background: #33cc99;
    border-color: #33cc99;
    box-shadow: none;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-appearance: none;
    transition: background 0.2s;
    cursor: pointer; }
    .button-container .button--alt:hover {
      background: #29a37a;
      border-color: #29a37a;
      box-shadow: none;
      text-shadow: none; }
    .button-container .button--alt:active {
      background: #5cd6ad;
      border-color: #5cd6ad;
      box-shadow: none;
      text-shadow: none; }
    .button-container .button--alt:focus {
      background: #29a37a;
      border-color: #29a37a;
      box-shadow: none;
      text-shadow: none; }
  .button-container .button--white {
    margin: 0px auto 20px auto;
    display: block;
    padding: 17px 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 17px;
    border-radius: 28px;
    background: #ffffff;
    border-color: #ffffff;
    box-shadow: none;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-appearance: none;
    transition: background 0.2s;
    cursor: pointer;
    width: 250px;
    border: 0;
    color: #3399cc;
    transition: color .4s;
    text-decoration: none; }
    .button-container .button--white:hover {
      background: #ffffff;
      border-color: #ffffff;
      box-shadow: none;
      text-shadow: none; }
    .button-container .button--white:active {
      background: #ffffff;
      border-color: #ffffff;
      box-shadow: none;
      text-shadow: none; }
    .button-container .button--white:focus {
      background: #ffffff;
      border-color: #ffffff;
      box-shadow: none;
      text-shadow: none; }
    .button-container .button--white:hover, .button-container .button--white:active, .button-container .button--white:focus {
      color: #6ED0FA; }
    @media only screen and (min-width: 640px) and (max-width: 979px) and (orientation: portrait) {
      .button-container .button--white {
        width: 220px; } }
    @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
      .button-container .button--white {
        width: auto; } }

.forgot-return {
  margin: 20px 0 30px 0; }
  .forgot-return a {
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
    color: #ffffff; }
  @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
    .forgot-return {
      padding: 0px 0 10px 0; } }

.sliding-u-l-r {
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid transparent;
  width: 0px;
  transition: 0.5s ease;
  white-space: nowrap;
  height: 25px; }

.sliding-u-l-r:hover {
  border-bottom: 1px solid white;
  width: 100%; }

.rixxo-footer {
  color: #ffffff;
  font-size: 15px;
  font-weight: 100;
  margin: 30px 0 20px 15%;
  text-align: left; }
  @media only screen and (min-width: 120px) and (max-width: 639px) and (orientation: portrait) {
    .rixxo-footer {
      width: 50%;
      margin: 0;
      margin: 10px 0 50px 0;
      padding: 30px 24px 0 8%; } }

body #ascommercebug_link_debug {
  display: none; }

/*# sourceMappingURL=sradmin.css.map */
