html, body {

  #fontDesc {
    position: absolute;
    bottom:0;  
    right: 0;
    visibility: hidden;
  }

  font-family: 'PR Serif', sans-serif;
  color: white; 

  #page-login {
    background-image: url('images/rixxo-login-snow-wave.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height:100vh;
     @include atMobile {
      background: none;
    }
  }

   @include atMobile {
    background: none;
    background-color: rgba(51, 153, 204, 1);
  }

  .login-container {
    margin: 0 auto;
    height: 100%;
    width:100%;
    background: none;
    padding: 0;
  }
}

.underline {
  position: relative;
}

.underline:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 1px;
  width: 0;
  background-color: $rixxoWhite;
  transition: width 0.4s ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
  
}