@mixin rixxoButton($bgColor, $bgHover, $bgActive) {

  width: 100%;
  font-size: 17px;
  border-radius: 28px;
  background: $bgColor;
  border-color: $bgColor;
  box-shadow: none;
  color: $rixxoWhite;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-appearance: none;
  transition: background .2s ;
  cursor: pointer;

  &:hover {
    background: $bgHover;
    border-color: $bgHover;
    box-shadow: none;
    text-shadow: none;
  }
  &:active {
    background: $bgActive;
    border-color: $bgActive;
    box-shadow: none;
    text-shadow: none;
  }
  &:focus {
    background: $bgHover;
    border-color: $bgHover;
    box-shadow: none;
    text-shadow: none;
  }
}

@mixin atTablet {  
  @media only screen and (min-width : 640px)and (max-width : 979px) and (orientation: portrait) {
    @content
  }
}

@mixin atMobile {
  @media only screen and (min-width : 120px) and (max-width : 639px) and (orientation: portrait) {
    @content
  }
}

@mixin atDesktop {  
    @media only screen and (min-width : 976px)and (max-width : 1920px) and (orientation: landscape) {
      @content
  }
}

